.body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #031f3d;
    color: #fff;
    padding: 10px 20px;
    overflow: hidden;
}

header h2 {
    margin: 10px;
}

nav {
    float: right;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    font-weight: bold;
}

nav ul li a:hover {
    color: #ddd;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 40px);
}

.form-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="submit"] {
    background-color: #007bff;
    color: white;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #0056b3;
}

.btn {
    display: block;
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    text-align: center;
    background-color: #007bff;
    color: white;
    text-decoration: none;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn:hover {
    background-color: #0056b3;
}

.footer {
    background-color: #24262b;
    padding: 80px 0;
    text-align: center;
}

.footer-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}

.footer-link {
    width: 25%;
    padding: 0 15px;
    text-align: left; 
}

.footer-link h4 {
    font-size: 20px;
    color: #ffffff;
    margin-bottom: 25px;
    font-weight: 500;
    border-bottom: 2px solid #00c3ff;
    padding-bottom: 10px;
}

.footer-link ul li a {
    font-size: 18px;
    text-decoration: none;
    color: #bbbbbb;
    display: block;
    margin-bottom: 15px;
    transition: color 0.3s ease; 
}

.footer-link ul li a:hover {
    color: #ffffff;
}

.social-link a {
    display: inline-block;
    height: 40px;
    width: 40px;
    border: 2px solid rgba(255, 255, 255, 0.2);
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    color: #ffffff;
    transition: background-color 0.5s ease; 
}

.social-link a:hover {
    background-color: #00c3ff;
}

@media (max-width: 991px) {
    .footer-link {
        width: 100%;
        margin-bottom: 30px;
    }
}